header.header
        a.logo(href="#")
            svg
                use(xlink:href="img/sprites/sprite.svg#logo")
        nav.header-menu
            ul.header-menu__list
                li.header-menu__item <a href="##">Portfolio</a>
                li.header-menu__item <a href="##">Service</a>
                li.header-menu__item <a href="##">About</a>
                li.header-menu__item <a href="##">News</a>
        include ../../components/burger/burger