.specialists {
  display: flex;
  gap: $gap;

  .specialists__img {
    max-width: 190px;

    img {
      max-height: 142px;
    }
  }

  &__country {
    margin-block-end: $indmin;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__photo-by {
    font-size: 0.875rem;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #727272;
  }
}
