main.main
    h1.visually-hidden Development
    section.main-section.layout-none.slides-slide__1
        .slides-box
            .slides-container
                .slides__wrapper
                    .slides-container__left
                        .main-section__explore Explore development
                        .slides-container__slide.slides-container__slide--active
                            .slides-container__text
                                h2.slides-container__title Kirstie van Noort
                                .specialists
                                    .specialists__img.img.img__empty
                                        img(data-src="img/noort.jpg" data-alt="Developer")
                                    .specialists__descr
                                        .specialists__country Netherlands
                                        .specialists__photo-by photo BY <br>Kenta Hasegawa
                        .slides-container__slide
                            .slides-container__text
                                h2.slides-container__title Tomás Alonso
                                .specialists
                                    .specialists__img.img.img__empty
                                        img(data-src="img/alonso.jpg" data-alt="Developer")
                                    .specialists__descr
                                        .specialists__country Spain
                                        .specialists__photo-by photo BY <br>Kenta Hasegawa
                        .slides-container__slide
                            .slides-container__text
                                h2.slides-container__title Stefan Diez
                                .specialists
                                    .specialists__img.img.img__empty
                                        img(data-src="img/diez.jpg" data-alt="Developer")
                                    .specialists__descr
                                        .specialists__country Germany
                                        .specialists__photo-by photo BY <br>Kenta Hasegawa
                        .slides-container__slide
                            .slides-container__text
                                h2.slides-container__title Teruhiro Yanagihara
                                .specialists
                                    .specialists__img.img.img__empty
                                        img(data-src="img/yanagihara.jpg" data-alt="Developer")
                                    .specialists__descr
                                        .specialists__country Japan
                                        .specialists__photo-by photo BY <br>Kenta Hasegawa
                        .slides-container__slide
                            .slides-container__text
                                h2.slides-container__title Leon Ransmeier
                                .specialists
                                    .specialists__img.img.img__empty
                                        img(data-src="img/ransmeier.jpg" data-alt="Developer")
                                    .specialists__descr
                                        .specialists__country New York, USA
                                        .specialists__photo-by photo BY <br>Kenta Hasegawa
                    .slides-container__bg.slides-bg
                        .slides-bg__inner.slides-bg__inner--current
                            a.slides-bg__link(href="#" data-bg="./img/noort-bg.jpg")
                        .slides-bg__inner
                            a.slides-bg__link(href="#" data-bg="./img/alonso - bg.jpg")
                        .slides-bg__inner
                            a.slides-bg__link(href="#" data-bg="./img/diez - bg.jpg")
                        .slides-bg__inner
                            a.slides-bg__link(href="#" data-bg="./img/yanagihara - bg.jpg")
                        .slides-bg__inner
                            a.slides-bg__link(href="#" data-bg="./img/ransmeier - bg.jpg")
        .slides-shapes(area-hidden="true")
            .slides-shapes__item.index.slides-shapes__item--current
                .slides-shapes__content(data-bg="#C9B39B")
            .slides-shapes__item
                .slides-shapes__content(data-bg="#D6D8CF")
            .slides-shapes__item
                .slides-shapes__content(data-bg="#D2E5DE")
            .slides-shapes__item
                .slides-shapes__content(data-bg="#DFE5E7")
            .slides-shapes__item
                .slides-shapes__content(data-bg="#D6D8CF")
